<div align = "center">
  <h1>Hello, welcome to Amy's Image Sharer!</h1>
  <%= link_to 'Go to upload new image', new_image_path %>
  <h2>List of existing images</h2>
  <table id="images-list">
    <% @images.each do |image| %>
      <tr class = "js-image-card">
        <td>
          title:<%= image.title %>
        </td>
        <td>
          link:<%= link_to(image_tag(image.link, width: '300', class:'image-view'),
                             image_path(image),
                             class: 'js-image-link')%>
        </td>
        <td>
          <p><%= raw(image.tag_list.map {
            |tag_selected| link_to tag_selected, images_path(tag: tag_selected)
          }.join(', ')) %></p>
        </td>
      </tr>
    <% end %>
  </table>
  <% if @tag_flag %>
    <%= link_to('Remove Filter', images_path) %>
  <% end %>
</div>
